save-prefix=''
strict-peer-dependencies=true
resolution-mode=highest
auto-install-peers=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@testing-library/*
public-hoist-pattern[]=vite
